* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: rgba(193, 151, 212, 0.863); 
  --main-color-2: rgb(58, 49, 92);
}

body {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: rgb(251, 240, 255);
  color: var(--main-color-2)
}

a {
  color: var(--main-color-2)
}

a:hover {
  color: rgb(66, 66, 250);
}

/* HEADER */
header {
  text-align: center;
  background: var(--main-color);
  border-bottom: var(--main-color-2) solid 3px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 2px 5px;
}

/* nav .hide-link {
  display: none;
} */

/* MAIN */
main {
  text-align: center;
}

.profile {
  border-bottom: var(--main-color-2) solid 3px;
}

.about-me a {
  display: block;
  padding: 20px;
}

.photo img {
  width: 80%;
  height: auto;
  max-width: 400px;
  border-radius: 0px;
  border: var(--main-color-2) 3px solid;
}

.about-me {
  margin: 10px 0px 30px 0px;
  width: 80%;
  margin: auto;
  max-width: 400px;
} 

.about-me p {
  text-align: left;
}

/* PROJECT */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.project {
  width: 90%;
  margin: 40px 5px;
  padding: 10px;
  max-width: 400px;
}

.featured-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-project h2 {
  margin-bottom: -20px;
}

.project img {
  width: 100%;
  height: auto;
  border: var(--main-color-2) solid 3px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  margin: 2px 10px;
}

/* CONTACT */

.core-contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.core-contact ul li {
  margin: 2px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

#user-email {
  align-self: center;
  width: 250px;
  margin: 5px 0px;
  padding: 5px;
}

form div {
  align-self: center;
  width: 80%;
  margin-bottom: 5px;
  min-width: 250px;
  max-width: 720px;
}

form textarea {
  resize: none;
  height: 400px;
  width: 100%;
  padding: 5px;
}

form button {
  display: block;
  width: 50px;
  float: right;
} 

/* FOOTER */

footer {
  padding: 10px;
  background: var(--main-color);
  border-top: var(--main-color-2) solid 3px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

@media screen and (min-width: 992px) {
  .profile {
    display: flex;
    margin: auto;
    max-width: 720px;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end; 
    justify-content: center;
  }  
} 

/* @media screen and (max-width: 576px) {
  .profile {
     flex-wrap: wrap;
     width: auto;
  }
  .photo {
     flex: .5 0 200px;
  }
  .work-sample {
     width: 80%;
     margin: 20px, 0px;
  }
  header {
     flex-wrap: wrap;
  }
  header h1 {
     width: 100%;
     text-align: center;
  }
  header ul {
     width: 100%;
     justify-content: center;
  }
  footer ul {
     flex-direction: column;
     align-items: center;
  } 
} */